
body {
  background-color: #ff9f1a;
}



.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-height: 8vh;
  border: 1px solid black;

  
}


a:link {
  text-decoration: none;
}

.nav-item {
list-style: none;
margin-right: 10px;
color:black;

}

.spacer {
 flex: 1;
}



@media (max-width:600px) {
  .nav-list {
    background-color: red;
    flex-direction: column;
  
    
    
   
  }


}






