@import url('https://fonts.googleapis.com/css2?family=Montserrat:500');


* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  background-color: #0404043f;
}


li , a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: #edf0f1;
  text-decoration: none;
  /* list-style: none; */
}

header {
  display: flex;
  justify-content: flex-end;
  align-items:inherit; 
  height: 1rem;
  padding: .9rem 7%;
 
  
}



.spacer{
flex: 1;
 
}

.nav-links{
  list-style: none;
  
}

.nav-links li {
display: inline-block;
padding: 0 .5rem;

}

.nav-links li a{
  transition: all 0.3s ease 0s;
}


.nav-links li a:hover{
  color: #d02507 ;
}

.active{
  color:green;
}
