/* 
body {
  
} */



.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-height: 8vh;
  border: 1px solid black;

  
}


a:link {
  text-decoration: none;

}

.nav-item {
list-style: none;
margin-right: 10px;
color:rgb(30, 119, 16);

}

.spacer {
 flex: 1;
}


.logo{
  font-size: 30px;
  color: #006636;
}


@media (max-width:600px) {
  .nav-list {
    background-color: red;
    flex-direction: column;
  
    
    
   
  }


}






